/* ==========================================================================
   List Mixins
   ========================================================================== */

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

.post-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #dddd;
	text-decoration: none;
	
	.post-entry-title {
		color: black;
		font-size: 150%;
	}
	
	.entry-date {
		color: grey;
		text-decoration: none;
		
		a {
			text-decoration: none;
		}
	}
	
	.excerpt {
		display: block;
		float: none;
		color: grey;
		text-decoration: none;
		
		a {
			text-decoration: none;
		}
	}
}

.post-list:last-child {
	border-bottom: none
}
